@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>See the security status of the site at <a href="/securitychecks">/securitychecks</a>.</p>
</div>
